.navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 90px;
    height: 100%;
    background-color: var(--color-primary);
}

.navigation__logo{
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
    color: #fff;
}

.navigation a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.navigation a:last-child{
    position: absolute;
    width: 100%;
    bottom: 20px;
}